 .swiperContainer :global(:is(.swiper-button-prev, .swiper-button-next)) {
     color: black;
     background: white;
 }

 .swiperContainer {
     max-width: 1512px;
     padding: 0 var(--section-spacing);
     margin: 0 auto;
 }

 .swiperContainer>div {
     position: relative;
 }

 .video iframe::after {
     position: absolute;
     z-index: 1;
     width: 100%;
     height: 100%;
     background-color: blue;
 }

 @media screen and (max-width : 1024px) {
     .video>div>div {
         flex-direction: column-reverse;
     }

     .video iframe {
         width: 100%;
         height: auto;
     }

     .photos img {
         width: 100% !important;
         height: auto !important;
     }

     .photos button {
         width: max-content;
         font-size: 14px;
         left: 50% !important;
         top: 50% !important;
         transform: translate(-50%, -50%);
     }
 }