 .swiperContainer :global(:is(.swiper-button-prev, .swiper-button-next)) {
     color: black;
     background: white;
 }

 .swiperContainer {
     position: relative;
     padding: 0 var(--section-spacing);
     max-width: min(1512px, 100%);
 }

 .swiperContainer>div {
     position: relative;

     /* border: dotted 4px black; */
 }

 /* .swiperImage {
     background: ;
 } */

 .playerContainer {
     position: relative;
     flex: 1 1 50%;
 }

 .playerContainer video {
     display: block;
 }

 .playerContainer>div {
     height: auto !important;
     width: 100% !important;
     background-image: url('/openCall.jpg');
 }

 .galleryContainer>div {
     max-width: min(100vw, 1512px);
     margin-bottom: 4rem;
 }

 /* MANSORY */
 .mansoryContainer {
     display: flex;
     margin-left: -1rem;
     width: auto;
 }

 .mansoryCol {
     padding-left: 1rem;
     background-clip: padding-box;
 }

 .mansoryCol>div {
     margin-bottom: 1rem;
 }

 @media screen and (max-width : 1024px) {

     .video>div>div {
         flex-direction: column-reverse;
     }

     .swiperContainer {
         max-width: 100%;
         margin: unset;
     }

     .galleryFlex {
         flex-direction: column;
         align-items: stretch;
         max-width: 100%;
     }

     /* about text-image */
     .galleryFlex>div:nth-child(2) {
         position: relative;
         width: 100%;
         padding-bottom: 50%;
     }

     .photos img {
         width: 100% !important;
         height: auto !important;
     }

     .photos button {
         width: max-content;
         font-size: 14px;
         left: 50% !important;
         top: 50% !important;
         transform: translate(-50%, -50%);
     }
 }