.container {
    position: fixed;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 1rem 0;
    background: black;
    overflow: hidden;
    color: white;
}

.container>* {
    display: block;
    flex: 1 1 auto;
    width: fit-content;
    white-space: nowrap;
    font-size: 2rem;
}

.left>* {
    animation: animLeft 20s infinite linear;
}

.right>* {
    animation: animRight 20s infinite linear;
}

.inverse {
    filter: invert(1);
}

@keyframes animLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes animRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}