.button {
    cursor: pointer;
    border: none;

    color: var(--color-text);

    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--font-family);

    white-space: pre-line;
    text-align: center;

    /* FOR LINK */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    --color-bg: white;
    --color-border: rgba(0, 0, 0, .01);
    --color-text: black;
}

.button:hover {

}

.fancy {
    
}

.fancy:hover {

}

.button[disabled] {
    cursor: not-allowed;
}

/* styles for parent <Link> component when button has href */
.link {
    text-decoration: none;
}


@media screen and (max-width : 480px) {
    .button {
        width: 100%;
    }

    .sizeDefault {
        padding: 8px 16px;
        font-size: 16px;
    }
}