.button {
    cursor: pointer;
    border: none;

    color: var(--color-text);

    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--font-family);

    white-space: pre-line;
    text-align: center;

    /* FOR LINK */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    --color-bg: white;
    --color-border: rgba(0, 0, 0, .01);
    --color-text: black;
}

.button[disabled] {
    cursor: not-allowed;
}

.button:hover:not([disabled]):not(.themeLink) {
    --color-border: black;
    --color-text: black;
}

/* THEME */

.themeDefault {
    background: var(--color-bg);
    color: var(--color-text);
    border: 3px solid var(--color-border);
}

.themePrimary {
    --color-text: white;
    background: var(--color-green);
    color: var(--color-text);
    border: 3px solid var(--color-border);
}

.themeLink {
    color: var(--color-text);
    background: none;
}

/* SIZE */

.sizeSmall {
    padding: 4px 20px;
    font-size: 12px;
    line-height: 18px;
}

.sizeDefault {
    padding: 16px 24px;

    font-size: 20px;
    line-height: 26px;
}

.sizeBig {
    padding: 16px 48px;

    font-size: 16px;
    line-height: 26px;
}

/* SHAPE */

.shapeDefault {
    border-radius: var(--button-border-radius);
}

.shapePill {
    border-radius: 100px;
}

.shapeCircle {
    border-radius: 50%;
}

@media screen and (max-width : 480px) {
    .button {
        width: 100%;
    }

    .sizeDefault {
        padding: 8px 16px;
        font-size: 16px;
    }
}