.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    padding-top: 2rem;
}

.content {
    width: 100%;
    height: 100%;
    min-height: 50vh;
    max-width: 1200px;
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "logo text"
        "logos text";
    gap: 10px 40px;
}

.content>div {
    flex: 1 0 50%;
}

.logo {
    grid-area: logo;
    justify-self: flex-end;
    position: relative;
    height: 100%;
}

.logo>span {
    overflow: visible !important;
}

.logos {
    grid-area: logos;
    justify-self: flex-end;
    width: 75%;
    height: 100% !important;
    position: relative;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.logos>span {
    flex: 0 0 calc(33% - .5rem);
}

.text {
    flex: 1 0 auto !important;
    height: 100%;
    grid-area: text;
    background: rgba(255, 255, 255, .5);
    padding: 1em;

    display: flex;
    flex-flow: column;
    gap: 1em;
}

.text>p {
    margin: 0;
    font-weight: 400;
    line-height: 26px;
    white-space: break-spaces;
}

.buttons {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: auto;
}

.buttons>button {
    flex: 1 1 calc(50% - 1rem);
}

.contacts {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    color: white;
    white-space: pre-line;
}

.about {
    align-self: flex-start;
    color: white;
    text-align: end;
}

@media screen and (max-width: 1280px) {
    .logos {
        width: 100%;
    }

    .logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        align-items: flex-start;
        padding: 15px;
    }

    .content {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }

    .logos {
        order: 3;
        margin-top: unset;
        align-items: stretch;
    }

    .logos>span {
        flex: 0 0 calc(50% - .5rem);
        max-width: 200px !important;
    }

    .about {
        align-self: flex-end;
    }

    .contacts {
        padding-top: unset;
        align-items: flex-end;
        text-align: right;
    }

    .bgContainer>span {
        max-height: 100%;
    }

    .bg {
        object-position: 20% center;
    }
}