.form {
    position: relative;
    height: 100%;
    padding: 15px;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.head {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 4rem;
    height: 4rem;
}
.form>:first-child {
    padding: 1.25rem 0;
}

.textline,
.textarea, 
.select {
    display: block;
    margin: 0;
    width: 100%;

    padding: .5rem;
    border: solid 2px black;
    border-radius: 0px;
    
    font-family: var(--font-family);
    font-size: 20px;
    text-transform: uppercase;
}

.textarea {
    resize: none;
}

.doubleRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}
.doubleRow>input {
    flex: 1 1 50%;
}

@media screen and (max-width : 480px) {
    .doubleRow {
        flex-flow: column;
    }
}