.section {}

.flex {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
}

.item {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex: 0 1 calc(25% - (4rem * .75));

    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.imgContainer {
    width: 100%;
    height: 0%;
    padding-bottom: 100%;
    position: relative;
    flex: 0 1 260px;
}

.img {
    aspect-ratio: 1/1;
    border-radius: 260px;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    margin-bottom: 80px;
}

.description {
    white-space: pre-line;
    font-size: 10px;
}

@media screen and (max-width: 1024px) {
    .name {
        font-size: 1.25rem;
    }

    .imgContainer {
        /* flex: 0 1 145px; */
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 480px) {
    .flex {
        flex-direction: row;
        gap: 10px;
        row-gap: 60px;
    }

    .item {
        flex: 1 1 calc(50% - 10px);
    }


    .imgContainer {
        flex: 1 0 100%;
    }

    .title {
        margin-bottom: 2rem;
    }
}