.flexCol h2 {
    width: fit-content;
    margin: 1rem 0;
}

.blockSection {
    align-self: stretch;
    flex: 1 0 calc(50% - var(--content-spacing));
    backdrop-filter: blur(5px);

}

.flexCol {
    padding: 2rem;
    gap: 0;
}

.blockSection>div {
    padding: unset;
}

@media screen and (max-width : 480px) {

    .cog,
    .eraserhead,
    .ramsy {
        width: min(200px, 50vw);
    }
}