.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: calc(2rem + 2rem);

    padding: var(--content-spacing) 0;
    --gradient: linear-gradient(139deg, rgba(34, 193, 195, 1) 25%, rgba(253, 187, 45, 1) 48%, rgba(242, 78, 91, 1) 91%);
}

/* spacer creates space as if .header was positioned relatevely */
.headerSpacer {
    position: relative;
    width: 100%;
    height: 15rem;
}

.headerSection>div {
    display: flex;
    justify-content: space-between;
}

.nav {
    width: fit-content;
    display: flex;
    gap: calc(var(--content-spacing) * 5);
}

.navItem {
    text-transform: uppercase;
}

.menuButton {
    display: none;
}

.mobileMenu a,
.mobileMenu button:not(.closeMenu) {
    font-family: var(--font-family-hero);
    font-size: 36px;
    line-height: 2rem;
    font-weight: 900;
    text-align: start;
    letter-spacing: 2px;

    justify-content: flex-start;

    margin-bottom: 2rem;
    padding-right: 1.5rem;
}

.mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
}

.mobileMenu {
    display: none;
}

.ticketButton {
    margin: auto 0;
}

.cta {
    border: none !important;
    position: relative;
}

/* .cta>span {
    background: var(--gradient);
    background-size: 300% 300%;
	animation: foil 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: var(--gradient);
    background-size: 300% 300%;
	animation: foil 5s ease infinite;
}

@media screen and (max-width : 1024px) {
    .ticketButton {
        /* margin: unset; */
        margin-left: auto;
        margin-right: auto;
    }

    .ticketButton>button {
        margin-right: -48px;
    }

    .nav {
        display: none;
    }

    .header {
        top: 4.5rem;
        padding: 10px;
        justify-content: space-between;
    }

    .headerSpacer {
        height: 8rem;
    }

    .menuButton {
        display: inline-block;

        border: none;
        background: none;

        height: 7%;
        width: auto;
        padding: 3%;
    }

    .logo {
        z-index: 1101;
    }

    .logo>img {
        width: 48px;
        height: 48px;
    }

    .headerSection>div {
        padding: unset;
    }

    .mobileMenu {
        display: unset;
    }
}

@keyframes foil {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}