.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: space-between;

    padding: var(--content-spacing) 0;

    background-color: rgba(255, 255, 255, .8);    
}
/* spacer creates space as if .header was positioned relatevely */
.headerSpacer {
    position: relative;
    width: 100%;
}

.headerSection>div{
    display: flex;
    justify-content: space-between;
}

.nav {
    width: fit-content;
    display: flex;
    gap: calc(var(--content-spacing) * 5);
}

.navItem {
    text-transform: uppercase;
}

.menuButton {
    display: none;
}

.mobileMenu a,
.mobileMenu button:not(.closeMenu) {
    font-family: var(--font-family-hero);
    font-size: 36px;
    line-height: 2rem;
    font-weight: 900;
    text-align: start;
    letter-spacing: 2px;

    justify-content: flex-start;

    margin-bottom: 2rem;
    padding-right: 1.5rem;
}

.mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
}

.closeMenu {
    border: none;
    background: none;

    align-self: flex-end;
    height: 7%;
    width: auto;
    padding: 5%;
    margin: 5px 10px 1rem 0;
}

@media screen and (max-width : 480px) {
    .nav {
        display: none;
    }

    .header {
        padding: 12px 5% 12px 10%;
        justify-content: space-between;
    }

    .menuButton {
        display: inline-block;

        border: none;
        background: none;

        height: 7%;
        width: auto;
        padding: 3%;
    }
}