.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    padding: var(--content-spacing) 0;
}

/* spacer creates space as if .header was positioned relatevely */
.headerSpacer {
    position: relative;
    width: 100%;
    height: 10rem;
}

.headerSection>div {
    display: flex;
    justify-content: space-between;
}

.nav {
    width: fit-content;
    display: flex;
    gap: calc(var(--content-spacing) * 5);
}

.navItem {
    text-transform: uppercase;
}

.menuButton {
    display: none;
}

.mobileMenu a,
.mobileMenu button:not(.closeMenu) {
    font-family: var(--font-family-hero);
    font-size: 36px;
    line-height: 2rem;
    font-weight: 900;
    text-align: start;
    letter-spacing: 2px;

    justify-content: flex-start;

    margin-bottom: 2rem;
    padding-right: 1.5rem;
}

.mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width : 480px) {
    .nav {
        display: none;
    }

    .header {
        padding: 12px 10px;
        justify-content: space-between;
    }

    .headerSpacer {
        height: 2rem;
    }

    .menuButton {
        display: inline-block;

        border: none;
        background: none;

        height: 7%;
        width: auto;
        padding: 3%;
    }

    .logo {
        margin-left: auto;
        z-index: 1101;
    }

    .logo>img {
        width: 48px;
        height: 48px;
    }

    .headerSection>div {
        padding: unset;
    }

    .mobileMenu {
        display: unset;
    }
}