.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container>div {
    flex: 1 0 auto;
    max-width: 1512px;
    padding: 0 var(--section-spacing);
    
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
}

@media screen and (max-width : 480px) {}