.cta {
    border: none !important;
    position: relative;
    --gradient: linear-gradient(139deg, rgba(34, 193, 195, 1) 25%, rgba(253, 187, 45, 1) 48%, rgba(242, 78, 91, 1) 91%);
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: var(--gradient);
    background-size: 300% 300%;
    animation: foil 5s ease infinite;
}

@media screen and (max-width : 1024px) {

    .bubbles>div>div:nth-child(1) {
        right: 0 !important;
        top: -10px !important;
    }

    .bubbles>div>div:nth-child(1)>img {
        width: max(50vw, 150px);
        height: auto !important;
    }

    .bubbles>div>div:nth-child(2) {
        top: 270px !important;
        right: 50px !important;
    }

    .bubbles>div>div:nth-child(2)>img {
        width: max(20vw, 200px);
        height: auto !important;
    }

    .aug23 {
        width: max(30vw, 200px) !important;
    }

    .skoro>div>div {
        gap: 0;
    }

    .skoro>div>div>img {
        width: 100%;
        height: auto;
    }

    .mobileButton {
        padding-top: 69px;
    }

    .mobileButton>div {
        display: flex;
        justify-content: center;
    }

    .movie>div>div {
        right: -50% !important;

    }

    .movie>div>div>img {
        width: max(70vw, 500px);
        height: auto !important;
    }
}

@keyframes foil {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}